.dichvu {
    position: relative;
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;


    h1 {
        position: relative;
        font-size: 50px;
        margin-left: 330px;
        margin-right: 10px;

    }




}