.list-hd {
    position: relative;
    width: 100%;

    .main {
        position: relative;
        margin-left: 280px;

        table {
            border-collapse: collapse;
            width: 90%;
            color: #333;
            font-family: Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin: 50px;

            th {
                background-color: #493628;
                color: #fff;
                font-weight: bold;
                padding: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #ccc;


            }

            tr {
                td {
                    background-color: #fff;
                    padding: 10px;
                    border-bottom: 1px solid #ccc;
                    font-weight: bold;

                    .cthd {
                        background: transparent;

                    }

                    .btn-ct {
                        margin-top: 20px;
                        padding: 10px 15px;
                        background-color: transparent;
                        color: blue;
                        border: none;
                        font-size: 13px;
                        text-decoration: underline;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;

                    }

                    .btn-ct:hover {
                        color: rgb(119, 119, 218);
                    }

                    button {
                        padding: 5px 10px;
                        margin: 5px;
                        font-weight: bold;
                        background-color: #ccc;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;

                    }

                    button:hover {
                        background-color: transparent;
                    }
                }
            }
        }

        .btn {
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #493628;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            margin-left: 50px;



        }

        .btn:hover {
            background-color: #AB886D;

        }



    }


}